body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column; /* Organiza los elementos de arriba hacia abajo */
  justify-content: flex-start; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 20%;
  width: 100%; /* Ocupa todo el ancho */
  text-align: center; /* Centra el texto dentro del ancho */
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  width: 100%; /* Ocupa todo el ancho */
  text-align: center; /* Centra el texto dentro del ancho */
}

li {
  margin-bottom: 10px;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  width: 100%; /* El botón ocupará todo el ancho */
  max-width: 300px; /* Para evitar que sea demasiado grande en pantallas anchas */
  text-align: center;
}

.gradient-background {
  background: linear-gradient(270deg, #6cacd7, #975a80);
  background-size: 400% 400%;
  animation: gradientAnimation 13s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fade-in-out {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.fade-in-out.show {
  opacity: 1;
}

